<form #myForms="ngForm" (ngSubmit)="saveBook(myForms.value)" class="book-form">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput type="text" name="title" placeholder="Title" ngModel />
    <mat-icon matSuffix>title</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Author</mat-label>
    <input matInput type="text" name="Author" placeholder="Author" ngModel />
    <mat-icon matSuffix>person</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>TotalPages</mat-label>
    <input
      matInput
      type="number"
      name="totalPages"
      placeholder="Pages"
      ngModel
    />
    <mat-icon matSuffix>123</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Price</mat-label>
    <input matInput type="number" name="price" placeholder="Price" ngModel />
    <mat-icon matSuffix>attach_money</mat-icon>
  </mat-form-field>
  <button type="submit" mat-raised-button color="primary">Save</button>
</form>
